.linksContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: max-content;
}

.link {
  text-decoration: none;
  background-color: teal;
  color: aliceblue;
  margin: 2px;
  padding: 5px;
  transition: transform 1s;
}

.link:hover {
  background-color: darkcyan;
  transform: scale(1.1);
}
