html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

.header {
  background-color: teal;
  color: aliceblue;
  text-align: center;
  padding: 10px;
  border-radius: 20px;
}

.paragraph {
  color: teal;
  background-color: aliceblue;
  font-weight: 300;
  padding: 5px;
  max-width: max-content;
  border-radius: 20px;
  text-align: center;
}