.tableContainer {
  display: none;
}

.tableContainer--visible {
  display: block;
}

@media (max-width: 768px) {
  .tableContainer {
    overflow-x: auto;
  }
}

.table {
  width: 400px;
  height: 345px;
}

@media (max-width: 768px) {
  .table {
    max-width: max-content;
    max-height: max-content;
  }
}

.table__header {
  background-color: teal;
  color: aliceblue;
  font-size: larger;
  border-radius: 15px;
}

.table__cell {
  padding: 5px;
  background-color: aliceblue;
  margin: 2px;
  border-radius: 15px;
  text-align: center;
}
